body {
	font-family: 'Asap', sans-serif;
}
i {
	margin-right: 2px;
}
i.icon-ok {
	color: #2FB58E;
}
i.icon-remove {
	color: #EE6557;
}
table b {
	color: #666666;
}
.contenido-principal {
	margin-top: 20px;	
}
.tabla-datos {
	margin-top: 5px;
}

/*
	Login
*/
.panel-admin-header {
	background-color: #117D89;
	border-bottom: 0;
	margin: 0 auto;
	padding: 5px 16px 5px 16px;	
}
	.panel-admin-header h5 {
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		font-weight: normal;
		margin: 0;
		padding: 4px 0 4px 0;	
	}
.panel-admin-login {
	border: 1px solid #CCCCCC;
	border-top: 0;
	background-color: white;
	margin: 0 auto;
	padding: 30px 15px 10px 15px;
}

.panel-admin-login .controls {
	padding: 0;
	margin: 0;
}

.panel-admin-login input,
.panel-admin-login button {
	height: 39px;
}

/*
	Alertas
*/

.alerta {
	color: #777777;
}
.alerta {
	background-color:#F6F6F6;
	border:1px solid #EDEDED; 
	margin-bottom: 20px;
	padding: 8px 8px 8px 10px;	
	width: auto;	
}
	.alerta i {
		color: #D76868;
		font-size: 13px;
		margin-right: 3px;
	}
	.alerta ul {
		margin: 0;
		padding: 0;
		list-style: none;		
	}
.alerta-exito {
	border: 0;
	border-left: 5px solid #BFCF88;
	background-color: #F7FDEA;
	color: #67942D;
}

/*
*
* Menu de Acceso rapido
*
*/
.panel-menu .caja-item {
	border: 0;
	border-radius: 0;
	background: none no-repeat scroll 0 0 #365670;
	padding: 10px;
	cursor: pointer;	
}
.panel-menu .caja-item h1 {
	font-size: 3.5em;
	color: #9cb0ab;
}
.panel-menu .caja-item span {
	color: #9cb0ab;
}
.panel-menu .caja-item:hover {
	background: none no-repeat scroll 0 0 #009fe1;
}
.panel-menu .caja-item:hover h1,
.panel-menu .caja-item:hover span{
	color: #ffffff;
}

/*
*
*Barra de navegacion izquierda
*
*/

#sidebar {
	margin-top: 10px;
}
#sidebar.nav-tabs.nav-stacked > li:first-child > a{
	border-radius: 0;
}
#sidebar.nav-tabs.nav-stacked > li:last-child > a{
	border-radius: 0;
}

#sidebar > li > a > i {
	margin-right: 5px;
}

#sidebar > li > a {
	background: none no-repeat scroll 0 0 #fff;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 8px;
	text-shadow: none;
}

#sidebar.nav-tabs.nav-stacked > li > a:hover {
	background: none repeat scroll 0 0 #F7F7F7;
	text-shadow: none;
}

#sidebar.nav-tabs.nav-stacked > li.active > a {
	background: none repeat scroll 0 0 #eeeeee;
	text-shadow: none;
}

/*
*
*Contenido Principal
*
*/

.pag-titulo {
	background: none repeat scroll 0 0 #49708A;
	color:#ededed;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding: 5px 10px;
	text-shadow: 1px 1px 1px #3c3c3c;
}

.pag-subtitulo {
	padding:0;
	margin-top: 10px;
	/*width: 50%;*/
}

.pag-subtitulo p {
	margin-left: 20px;
}

.pag-subtitulo h3{
	border-left: 3px solid #49708A;
	color:#49708A;
	display: block;
	line-height: 30px;
	font-size: 13px;
	text-transform: uppercase;
	padding-left: 10px; 
	
}

.caja-contenedor {
	display: table;/*sin esto no funciona :S*/
	width: 100%;	
	margin-bottom: 15px;
}

.caja-item {
	background: none repeat scroll 0 0 #ededed;
	border: 1px solid #d5d5d5;
	border-radius: 4px;	
	text-align: center;
	margin-bottom: 5px;
}

.caja-item h2 {
	color:#81af30;
}

.caja-item span {
	color:#555;
}

.client-perfil-info {
	display: block;
	padding: 5px;
	width: 95%;
	/*border: 1px solid black;*/
}
.client-perfil-info img {
	margin-right: 10px;
}

.widget {
	clear: both;
	margin-bottom: 20px;
	position: relative;
	width: auto;
}
.widget-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ccc;
	background: none repeat scroll 0 0 #ededed;
	position: relative;
	height: 40px;
}

.widget-header h3 {
	color: #49708A;
	display: inline-block;
	font-size: 16px;
	
	font-weight: 700;
	line-height: 20px;
	margin-left: 10px;
	padding-top: 0px;
	position: relative;
	text-shadow: 1px 1px 1px #F5F5F5;

}

.widget-content {
	background: none repeat scroll 0 0 #F5F5F5;
	padding: 20px 15px 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.widget-header +
.widget-content {
	border-top: medium none;
	border-top-left-radius: 0;
	 border-top-right-radius: 0;
}

.widget-compact .widget-header{
	height: 30px;
}
.widget-compact .widget-header h3{
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.widget-compact .widget-content{
	padding: 0px;
}
.widget-compact .table {
	margin-bottom: 0px;
}

.widget-content-info {
	padding: 5px 10px;
}

/*hacks css*/
.header-men,
.client-perfil-info,
.widget-content:before,
.widget-content:after {
	clear:both;
	content:"";
	display: table;
}

/* nav header */
.navbar .nav > li > a {
	color: #49708A;
	font-size: 13px;
	text-shadow: none;
}

.navbar .nav > li > a:hover {
	color: #88ABC2;
}

ul.dropdown-menu li {
	color: #49708A;	
	width: 280px;
}

ul.dropdown-menu li > a {
	color: #555;
	padding: 5px 0px 5px 10px;
}

ul.dropdown-menu li > a:hover {
	background: none repeat scroll 0 0 #49708A;
	color:#ededed;
	text-shadow: none;
}

ul.dropdown-menu li .time {
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	position: absolute;
	right: 5px;
}
/*
*
*Comentarios recientes
*
*/
.widget-coment-rec {
	padding: 0;
}
.coment-rec {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.coment-rec .separador {
	border-bottom: 1px dotted #CCCCCC;
}
.coment-rec .separador {
	padding-bottom: 10px;
	padding-top: 10px;
}
.coment-rec .ver-todo {
	border-bottom: 0;
	cursor: pointer;
	text-align: center;
}
.coment-rec .ver-todo a {
	color: #49708A;
}
.coment-rec .ver-todo a:hover {
	color: #88ABC2;
	text-decoration: none;
}
.avatar {
	border: 1px solid #b6bcbf;
	display: inline-block;
	height: 48px;
	margin: 10px;
	padding: 2px;
	width: 48px;	
}
.post-public {
	margin-left: 70px;
}
.coment-rec .post-public {
	padding-top: 4px;
}
.coment-rec .user-info {
	color: #666666;
	font-size: 10px;
}
.coment-rec .user-post {
	font-size: 12px;
}
.coment-rec .helper-btn-group {
	margin-top: 7px;
	margin-bottom: 5px;
}

/*
*	icons checkbox
*/
.controls span,
.controls i {
	vertical-align: -3px;
	padding-right: 15px; 
	padding-left: 2px;
}


/*Alteraciones a bootstrap*/

.label-success,
.badge-success {
  background-color: #49708A;
}

.label,
.badge {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
padding: 2px 8px;
font-weight: 600;
  text-shadow: none;
}

table thead {
	color: #666666;
}

.table th,
.table td {
	border-left: 1px solid #DDDDDD;
	padding: 5px;
}

.table .label-success,
.table .badge-success {
  background-color: #468847;
}

.widget-content .table th:first-child,
.widget-content .table td:first-child {
	border-left: none;
}

/*
* Form
*/
.form-horizontal .control-label span {
	color: red;
	font-size: 1em;
}

/*
*
*botones
*
*/
.boton,
.boton:hover {
	display: inline-block;
	
	/* IE7 inline-block hack */
	
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #16A6B6;

	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1px 1px 1px 1px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;	
    text-decoration: none;
}

.boton:active {
	background-color:#11818D;
	color: #FFFFFF;
}

.boton-acept,
.boton-acept:hover {
	background-color: #2FB58E;
}
.boton-acept:active {
	background-color: #318D6E;
}

.boton-cancel,
.boton-cancel:hover {
	background-color: #EE6557;
}
.boton-cancel:active {
	background-color: #BD5045;
}

.panel-admin-login .boton {
	width: 100%;
}
/*
*
*Botones mini personalizados
*
*/
.btn-tabla .btn , 
.btn-tabla .btn:hover {
	background-color: #16A6B6;
	background-image: none;
	color: #FFFFFF;
	text-shadow:none;

	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.btn-tabla .btn:active {
	background-color:#11818D;
	color: #FFFFFF;

	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.btn-tabla .btn-accept, 
.btn-tabla .btn-accept:hover{
	background-color: #3FB58E;
}
.btn-tabla .btn-accept:active{
	background-color: #318D6E;
}

.btn-tabla .btn-cancel, 
.btn-tabla .btn-cancel:hover{
	background-color: #EE6557;
}
.btn-tabla .btn-cancel:active {
	background-color: #BD5045;
}

/*
* jq.datatables adaptacion bootstrap
*/
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
}
 
table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right;}

tr.even td.sorting_1 {
    background-color: transparent;
}

/*
*
*bloque info clientes
*
*/

.client-info {

}

.client-info img{
	margin-left: 5px;
	margin-bottom: 5px;
	border: 2px solid #9cb0ab;
}
/*
*
*FIX textEditor
*
*/
.inputTextEdit {
	margin-left:180px;
	width:72%;
}

/*
*
*Mensajes
*
*/
.mensaje-origen {
	background-color: white;
	padding: 10px;	
}

.header-men {
	width: 100%;
	margin-bottom: 20px;
}
.header-men img {
	float: left;
	padding-right: 5px; 
}
.header-men .datos-men-fecha {
	float: right;
}
.header-men .datos-men-correo {
	font-size: 11px;
}

/*copyright*/
.copyright {
	color: #777777;
	float: right;
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*
	Comentario en inputs
 */
p.descripcion {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color:#ABABAB;
}

/* Styles for table*/

a.paginate_button {
	padding: 0 5px 0 5px;
	cursor: pointer;
	text-decoration: none;	
}

/*
*
*Media querys
*
*/

@media (max-width: 767px) {
	.inputTextEdit {
		margin-left: 180px;
		width: 70%;		
	}
}
@media (max-width: 480px) {
	.boton-responsive .boton {
		display: block;
  		width: 100%;
  		padding-left: 0;
  		padding-right: 0;
	}

	.client-info select{
		width:65%;
	}

	.inputTextEdit {
		margin-left: 0;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.inputTextEdit {
		margin-left: 180px;
		max-width: 65%;
		min-width: 50%;
	}
}